In [6]:
print("athifa.m.v")
print("21")
print("salamathifa565@gmail.com")

athifa.m.v
21
salamathifa565@gmail.com

In [8]:
print("athifa.m.v\n21\nsalamathifa565@gmail.com")

athifa.m.v
21
salamathifa565@gmail.com

In [34]:
#define the two numbers
num1 = 14
num2 = 7

In [18]:
#perform the operations
addition = num1 + num2
substraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

In [24]:
#display the results
print(f"{num1} + {num2} = {addition}")
print(f"{num1} - {num2} = {substraction}")
print(f"{num1} * {num2} = {multiplication}")
print(f"{num1} / {num2} = {division}")

14 + 7 = 21
14 - 7 = 7
14 * 7 = 98
14 / 7 = 2.0

In [28]:
#loop through numbers 1 to 5
for number in range (1,6):
    print(number)

1
2
3
4
5

In [32]:
#display the sentence with proper formatting
print('"SDK" stands for "software development kit",whereas\n"IDK stands for "integreted development enviornment".')

"SDK" stands for "software development kit",whereas
"IDK stands for "integreted development enviornment".

In [38]:
print("python is an \"awesome\" language.")
print("pyhton\n\t2023")
print('i\'m from entri.\b')
print("\65")
print("\x65")
print("entri", "2023",sep="\n")
print("entri","2023",sep="\b")
print("entri","2023",sep="*",end="\b\b\b\b")

python is an "awesome" language.
pyhton
	2023
i'm from entri
5
e
entri
2023
entr2023
entri*

In [54]:
#define the variables
num = 23
textnum = "57"
decimal = 98.3

#convert textnum to an integer and calculate the sum
total_sum = num + int(textnum) + decimal

# print the types of each variables
print("type of num:", type(num))
print("type of textnum:", type (textnum))
print("type of decimal :", type (decimal))


# Convert textnum to an integer and calculate the sum
total_sum = num + int(textnum) + decimal

# Print the sum and its type
print("Sum of variables:", total_sum)
print("Type of the sum:", type(total_sum))

type of num: <class 'int'>
type of textnum: <class 'str'>
type of decimal : <class 'float'>
Sum of variables: 178.3
Type of the sum: <class 'float'>

In [56]:
# Define variables for units of time
days_in_year = 365       
hours_in_day = 24      
minutes_in_hour = 60     

# Calculate the total number of minutes in a year
total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour

# Display the result with an explanatory statement
print("This program calculates the total number of minutes in a year.")
print(f"Days in a year: {days_in_year}")
print(f"Hours in a day: {hours_in_day}")
print(f"Minutes in an hour: {minutes_in_hour}")
print(f"Total number of minutes in a year: {total_minutes_in_year}")

This program calculates the total number of minutes in a year.
Days in a year: 365
Hours in a day: 24
Minutes in an hour: 60
Total number of minutes in a year: 525600

In [67]:
# ask the user to enter their name
name = input("please enter your name:" )

# display the greeting message
print(f"Hi {name}, welcome to python programming :)")

please enter your name: tony

Hi tony, welcome to python programming :)

In [69]:
# Pounds to Dollar conversion rate 
conversion_rate = 1.25 
# Example rate: 1 Pound = 1.25 Dollars

# Ask the user to enter an amount in pounds
pounds = float(input("Please enter amount in pounds: "))

# Convert pounds to dollars
dollars = pounds * conversion_rate

# Display the result
print(f"£{pounds} are ${dollars:.2f}")

Please enter amount in pounds:  100

£100.0 are $125.00