In [2]:
import numpy as np

arr = np.arange(1, 11)
reshaped = arr.reshape(2, 5)
print("Reshaped 2x5 Array:\n", reshaped)

Reshaped 2x5 Array:
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [4]:
arr2 = np.arange(1, 21)
sliced = arr2[5:16]  # index 5 to 15 inclusive
print("Extracted elements (index 5 to 15):", sliced)

Extracted elements (index 5 to 15): [ 6  7  8  9 10 11 12 13 14 15 16]

In [8]:
import pandas as  pd

fruits = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
fruits['pears'] = 4
print("Updated Series:\n", fruits)

Updated Series:
 apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [10]:
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jane'],
    'age': [25, 30, 20, 44, 32, 29, 48, 35, 42, 39],
    'gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F']
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
       name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   20      M
3    David   44      M
4      Eva   32      F
5    Frank   29      M
6    Grace   48      F
7   Hannah   35      F
8      Ian   42      M
9     Jane   39      F

In [12]:
df['occupation'] = ['Programmer', 'analyst', 'manager', 'Programmer', 'Manager',
                    'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']
print("DataFrame with Occupation:\n", df)

DataFrame with Occupation:
       name  age gender  occupation
0    Alice   25      F  Programmer
1      Bob   30      M     analyst
2  Charlie   20      M     manager
3    David   44      M  Programmer
4      Eva   32      F     Manager
5    Frank   29      M     Analyst
6    Grace   48      F  Programmer
7   Hannah   35      F     Manager
8      Ian   42      M     Analyst
9     Jane   39      F  Programmer

In [18]:
age_filter = df[df['age'] >= 30]
print("Rows where age >= 30:\n", age_filter)

Rows where age >= 30:
      name  age gender  occupation
1     Bob   30      M     analyst
3   David   44      M  Programmer
4     Eva   32      F     Manager
6   Grace   48      F  Programmer
7  Hannah   35      F     Manager
8     Ian   42      M     Analyst
9    Jane   39      F  Programmer

In [26]:
# Save to CSV
df.to_csv('people.csv', index=false)

# Read from CSV
df_loaded = pd.read_csv('people.csv')
print("Data loaded from CSV:\n", df_loaded)

NameError: name 'false' is not defined