List

In [3]:
import random
#genarate a list of random numbers 1 and 50
random_numbers = random.sample(range(1,51),5)

#print the list
print(random_numbers)

[17, 49, 4, 38, 24]

In [9]:
#insert 3 new values
new_values = [100,200,300]
random_numbers.extend(new_values)

#print the updated list
print("updated list:", random_numbers)

updated list: [17, 49, 4, 38, 24, 100, 200, 300, 100, 200, 300, 100, 200, 300]

In [11]:
#sample the list of numbers
numbers = [10,20,30,40,50]
#using a for loop to print each element
print("elements in the list:")
for number in numbers:
    print(number)

elements in the list:
10
20
30
40
50

DICTIONARY

In [14]:
#creating the dictionary
person = {
    'name' : 'john',
    'age' : 25,
    'address' : 'new york'
}
# printing the dictionary
print(person)

{'name': 'john', 'age': 25, 'address': 'new york'}

In [16]:
# Original dictionary
my_dict = {
    'name': 'John Doe',
    'age': 25,
    'city': 'New York'
}

# Adding the new key-value pair
my_dict['phone'] = '1234567890'

# Display the updated dictionary
print(my_dict)

{'name': 'John Doe', 'age': 25, 'city': 'New York', 'phone': '1234567890'}

SET

In [18]:
set = {1,2,3,4,5}
print (set)

{1, 2, 3, 4, 5}

In [24]:
#original set
set = {1,2,3,4,5}

# adding the value 6
set.add(6)

#display the updated the set
print(set)

{1, 2, 3, 4, 5, 6}

In [26]:
#original set
set = {1,2,3,4,5}

#removing the value 3
set.remove(3)

print(set)

{1, 2, 4, 5}

TUPLE

In [30]:
#creating the tuple
tuple = (1,2,3,4)

#printing the length of tuple
print(len(tuple))

4